= render partial: 'admin/departments/links'

= bootstrap_form_for @form, url: admin_departments_path, html: { class: 'form-material m-t-10 row' } do |f|
  = render partial: 'admin/departments/form', locals: { form: @form, f: f }